img{
	width: 100%;
	height: 100px;
}

label {
	text-align: center;
}

a h4{
	font-weight: bold;
	margin-top:0px;
}

.my-label{
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: smaller;
	color: #9d9d9d;
}

.navbar-inverse {
	background-color: none; 
 	border-color: none; 
}

.col-md-12{
	padding-top: 1%;
}

.row{
	border-bottom: 1px solid #eee;
	padding-top: 5px;
	margin-bottom: 5px;
}